
{% extends 'visualnovels/base.html' %}

{% block header %}
    {% include 'visualnovels/header.html' %}
{% endblock %}

{% block title %}Add Novel{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3 class="mb-0">Create Visual Novel</h3>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.title.id_for_label }}">Title</label>
          {{ form.title }}
        </div>
        <div class="form-group">
          <label for="{{ form.released.id_for_label }}">Released Date</label>
          {{ form.released }}
        </div>
        <div class="form-group">
          <label for="{{ form.description.id_for_label }}">Description</label>
          {{ form.description }}
        </div>
        <div class="form-group">
          <label for="{{ form.image.id_for_label }}">Image</label>
          {{ form.image }}
        </div>
        <div class="form-group">
          <label for="{{ form.company.id_for_label }}">Company</label>
          {{ form.company }}
        </div>
        <div class="form-group">
          <label for="{{ form.genres.id_for_label }}">Genres</label>
          {{ form.genres }}
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}