{% extends 'visualnovels/base.html' %}

{% block header %}
    {% include 'visualnovels/header.html' %}
{% endblock %}

{% block title %}Characters{% endblock %}

{% block content %}
<div class="container p-4" style="background-color: #333;">
  <h1 class="text-white mb-4">Characters</h1>
  <div class="row">
    {% for character in characters %}
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="https://via.placeholder.com/350x200.png?text=Character+Image" class="card-img-top" alt="{{ character.first_name }} {{ character.last_name }}">
        <div class="card-body">
          <h5 class="card-title">{{ character.first_name }} {{ character.last_name }}</h5>
          <p class="card-text"><strong>Age:</strong> {{ character.age }}</p>
          <p class="card-text"><strong>Birth date:</strong> {{ character.birth_date }}</p>
          <div class="btn-group">
            <a href="{% url 'character_detail' character.pk %}" class="btn btn-sm btn-outline-secondary">View</a>
        </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}