{% extends 'visualnovels/base.html' %}

{%block style %}

.border-success,
.border-warning,
.border-primary {
    border: 3px solid;
}
{% endblock %}
{% block header %}
    {% include 'visualnovels/header.html' %}
{% endblock %}

{% block title %}
    {{ character }} - Character Detail
{% endblock %}

{% block content %}
<div class="container p-4" style="background-color: #333;">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="https://via.placeholder.com/300x400.png?text=Character+Image" alt="{{ character.first_name }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ character.first_name }} {{ character.last_name }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-8" style="color: white;">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#overview">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#novel">Appears in Visual Novels</a>
          </li>
        </ul>
        <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="overview">
            <p><strong>Age:</strong> {{ character.age }}</p>
            <p><strong>Birth Date:</strong> {{ character.birth_date }}</p>
            <p><strong>Description:</strong> {{ character.description }}</p>
          </div>
          <div class="tab-pane fade" id="novel" style="color: white;">
            <div class="list-group">
              <a href="{% url 'visual_novel_detail' vn.vn_id %}" class="list-group-item list-group-item-action">{{ vn.title }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}