{% extends 'visualnovels/base.html' %}

{%block style %}

.border-success,
.border-warning,
.border-primary {
    border: 3px solid;
}
{% endblock %}
{% block header %}
    {% include 'visualnovels/header.html' %}
{% endblock %}

{% block title %}
    {{ company.name }} - Company Detail
{% endblock %}

{% block content %}
<div class="container p-4" style="background-color: #333;">
        <div class="row">
            <div class="col-md-4">
                <img src="https://via.placeholder.com/350x200.png?text={{ company.name }}" alt="{{ company.name }}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h2 class="text-white">{{ company.name }}</h2>
                <p class="text-white">{{ company.description }}</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#visualnovels">Visual Novels</a>
                    </li>
                </ul>
                <div class="tab-content mt-3">
                    <div class="tab-pane fade show active" id="visualnovels">
                        <div class="row">
                            {% for vn in company.visualnovel_set.all %}
                                <div class="col-md-4">
                                    <div class="card mb-4 shadow-sm">
                                        <img src="{{ vn.image.url }}" alt="{{ vn.title }}" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ vn.title }}</h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a href="{% url 'visual_novel_detail' vn_id=vn.vn_id %}" class="btn btn-sm btn-outline-secondary">View</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <p class="text-white">No visual novels found.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}