
{% extends 'visualnovels/base.html' %}

{% block title %}Companies{% endblock %}
{%block style %}

.border-success,
.border-warning,
.border-primary {
    border: 3px solid;
}
{% endblock %}
{% block header %}
    {% include 'visualnovels/header.html' %}
{% endblock %}
{% block content %}
<div class="container p-4" style="background-color: #333;">
  <h1 class="mb-3 text-light">Companies</h1>
  <div class="row">
    {% for company in companies %}
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="https://via.placeholder.com/350x200.png?text={{ company.name }}" alt="{{ company.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ company.name }}</h5>
          <p class="card-text">{{ company.description }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{% url 'company_detail' company_id=company.company_id %}" class="btn btn-sm btn-outline-secondary">View</a>
            </div>
            <small class="text-muted">{{ company.visualnovel_set.count }} Visual Novels</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}