{% extends 'visualnovels/base.html' %}

{% block header %}
    {% include 'visualnovels/header.html' %}
{% endblock %}

{% block title %}
    {{ genre.name }} - Genre Detail
{% endblock %}

{% block content %}
<div class="container p-4" style="background-color: #333;">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <h1 class="card-title">{{ genre.name }}</h1>
            <p class="card-text">{{ genre.description }}</p>
            <p class="card-text">Total Visual Novels: {{ vn_list.count }}</p>
          </div>
        </div>
        <div class="row">
          {% for vn in vn_list %}
          <div class="col-md-4">
            <div class="card mb-3">
              <img src="{{ vn.image.url }}" class="card-img-top" alt="{{ vn.title }}">
              <div class="card-body">
                <h5 class="card-title">{{ vn.title }}</h5>
                <a href="{% url 'visual_novel_detail' vn.vn_id %}" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}