{% extends 'visualnovels/base.html' %}

{% block header %}
    {% include 'visualnovels/header.html' %}
{% endblock %}

{% block title %}Genres{% endblock %}

{% block content %}
<div class="container p-4" style="background-color: #333;">
    <h1 class="mb-3 text-light">Genres</h1>
    <div class="row justify-content-center">
      {% for genre in genres %}
        <div class="col-md-3">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ genre.name }}</h5>
              <a href="{% url 'genre_detail' genre.genre_id %}" class="btn btn-primary">View Visual Novels</a>
              <span class="badge badge-info">{{ genre.visualnovel_set.count }} Visual Novels</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}