<header>
  <div class="container-fluid" style="padding:0;">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">VNDB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'visual_novels'%}">Visual Novels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'characters' %}">Characters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'voice_actors_list' %}">Voice Actors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'company_list' %}">Companies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'genres' %}">Genres</a>
          </li>
        </ul>
        <div class="user-info">
          {% if user is not None %}
            <p class="text-white">Welcome, {{ user.login_name }}#{{ user.special_key}}</p>
            <a href="{% url 'index' %}" class="btn btn-outline-light" style="background-color: #00bfff">Logout</a>
          {% else %}
            <a href="#" class="btn btn-outline-light mr-2">Login</a>
            <a href="#" class="btn btn-outline-light">Register</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </div>
</header>