
{% extends 'visualnovels/base.html' %}
{%block style %}


{% endblock %}
{% block title %}
    Welcome
{% endblock %}
{% block header %}
{% include 'visualnovels/header.html' %}
  {% endblock %}

{% block content %}
<div class="container p-4" style="background-color: #333;">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card p-3">
          <h1 class="text-center mb-4">Search</h1>
          
          <form method="get">
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          {% if results %}
            <h2 class="mt-4 mb-3">Results:</h2>
            <ul class="list-group">
              {% for result in results %}
              <li class="list-group-item">
                <a href="{% url result.get_class_name|add:'_detail' result.pk %}" class="btn btn-primary">{{ result }}</a>
              </li>
              {% empty %}
                <li class="list-group-item">No results found.</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}








