{% extends 'visualnovels/base.html' %}

{% block title %}Register{% endblock %}
{%block style %}
body {
    background-color: black;
}

.register-form {
    width: 400px;
    margin: 50px auto 0;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
}

.register-form h1 {
    text-align: center;
    color: #00bfff;
}

.register-form label {
    color: white;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    background-color: #464646;
    border-radius: 5px;
    border: none;
    color: white;
}

.register-form input[type="submit"] {
    background-color: #00bfff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.register-form input[type="submit"]:hover {
    background-color: #0099cc;
}
{% endblock %}
{% block header %}
{%endblock%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="register-form">
                <h1 class="mb-4">Register</h1>
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="login_name">Username</label>
                        <input type="text" name="login_name" id="login_name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input type="password" name="password1" id="password1" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="password2">Confirm password</label>
                        <input type="password" name="password2" id="password2" class="form-control">
                    </div>

                    <input type="submit" value="Register" class="btn btn-primary btn-block">
                </form>
                <div class="text-center mt-3">
                    <a href="{% url 'index' %}" class="btn btn-secondary">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}