{% extends 'visualnovels/base.html' %}

{%block style%}

{% endblock %}
{% block title %}
    {{ vn.title }}
{% endblock %}
{% block header %}
  {% include 'visualnovels/header.html' %}
{% endblock %}
{% block content %}
  <div class="container p-4 text-white" style="background-color: #333;">
    <div class="row">
      <div class="col-md-4">
        <img src="{{ vn.image.url }}" alt="{{ vn.title }}" class="img-fluid">
        <div class="dropdown mt-3">
          <div class="dropdown mt-3">
            <form method="post" action="">
              {% csrf_token %}
              {{ rating_form.as_p }}
              {{ list_form.as_p }}
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h2>{{ vn.title }}</h2>
        <p class="lead">{{ vn.description }}</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#overview">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#company">Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#characters">Characters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#stats">Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#genres">Genres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#comments">Comments</a>
          </li>
        </ul>
        <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="overview">
            <h2>{{ vn.title }}</h2>
            <p>{{ vn.description }}</p>
            <ul>
              <li><strong>Released:</strong> {{ vn.released|date:"F j, Y" }}</li>
              <li><strong>Company:</strong> {{ vn.company }}</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="company">
            <div class="row align-items-center">
              <div class="col-12 col-md-8">
                <div class="company-info">
                  <a href="{% url 'company_detail' vn.company.pk %}">
                    <h4>{{ vn.company.name }}</h4>
                  </a>
                  <p>{{ vn.company.description }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="characters">
            <div class="row">
              {% for character in characters %}
              <div class="col-md-4">
                <div class="card mb-4">
                  <img src="https://via.placeholder.com/350x200.png?text=Character+Image" class="card-img-top" alt="{{ character.first_name }} {{ character.last_name }}">
                  <div class="card-body text-dark">
                    <h5 class="card-title">{{ character.first_name }} {{ character.last_name }}</h5>
                    <p class="card-text"><strong>Age:</strong> {{ character.age }}</p>
                    <p class="card-text"><strong>Birth date:</strong> {{ character.birth_date }}</p>
                    <div class="btn-group">
                      <a href="{% url 'character_detail' character.pk %}" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="stats">
            <p>Stats here</p>
          </div>
          <div class="tab-pane fade" id="genres">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title text-dark">Genres</h3>
              </div>
              <div class="card-body">
                <ul class="list-group">
                  {% for genre in genres %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="{% url 'genre_detail' genre.pk %}">{{ genre.name }}</a>
                      <span class="badge badge-primary badge-pill">{{ genre.visualnovel_set.count }}</span>
                    </li>
                  {% empty %}
                    <li class="list-group-item">No genres found.</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="comments">
            <hr>
            <form method="post" action="">
              {% csrf_token %}
              {{ comment_form.as_p }}
              <button type="submit" name="comment_form" class="btn btn-primary">Add Comment</button>
            </form>
            <hr>
            {% if vn.comment_set.all %}
            <div class="mt-4">
              <h4 class="text-white">Comments</h4>
              {% for comment in vn.comment_set.all %}
              <div class="card border-secondary mb-3">
                <div class="card-header bg-secondary text-white">{{ comment.user_id }}</div>
                <div class="card-body">
                <p class="card-text text-dark">{{ comment.comment }}</p>
                </div>
               </div>
              {% endfor %}
            </div>
            {% else %}
              <p>No comments yet.</p>
            {% endif %}
          </div>
              </div>
            </div>
{% endblock %}