{% extends 'visualnovels/base.html' %}

{% block title %}Visual Novels{% endblock %}
{%block style %}

.border-success,
.border-warning,
.border-primary {
    border: 3px solid;
}
{% endblock %}
{% block header %}
    {% include 'visualnovels/header.html' %}
{% endblock %}
{% block content %}
<div class="container p-4" style="background-color: #333;">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="text-light">Visual Novels</h1>
    <a href="{% url 'add_visualnovel' %}" class="btn btn-primary">Add Visual Novel</a>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        {% for novel, status in super_list %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow {% if status == 1 %}border-success{% elif status == 2 %}border-warning{% elif status == 3 %}border-primary{% endif %}">
              <img class="card-img-top" src="{{ novel.image.url }}" alt="{{ novel.title }}">
              <div class="card-body">
                  <h5 class="card-title">{{ novel.title }}</h5>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="{% url 'visual_novel_detail' vn_id=novel.vn_id %}" class="btn btn-sm btn-outline-secondary">View</a>
                      </div>
                      <small class="text-muted">{{ novel.release_date }}</small>
                  </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}