{% extends 'visualnovels/base.html' %}

{% block title %}
    {{ voice_actor.first_name }} {{ voice_actor.last_name}} - Voice Actor Detail
{% endblock %}
{% block header %}
    {% include 'visualnovels/header.html' %}
{% endblock %}

{% block content%}
<div class="container p-4" style="background-color: #f0f0f0; color: #333;">
    <h1 class="mb-3">{{ voice_actor.first_name }} {{ voice_actor.last_name }}</h1>
    <div class="row">
      <div class="col-md-6">
        <h3>Basic Information</h3>
        <table class="table">
          <tbody>
            <tr>
              <td>Age</td>
              <td>{{ voice_actor.age }}</td>
            </tr>
            <tr>
              <td>Birth Date</td>
              <td>{{ voice_actor.birth_date }}</td>
            </tr>
            <tr>
              <td>Nationality</td>
              <td>{{ voice_actor.nationality_id }}</td>
            </tr>
            <tr>
              <td>Language</td>
              <td>{{ voice_actor.language_id }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h3>Characters Voiced</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Character</th>
                <th scope="col">Visual Novel</th>
              </tr>
            </thead>
            <tbody>
              {% for character in characters %}
              <tr>
                <td><a href="{% url 'character_detail' character.pk%}" class="btn btn-outline-secondary">{{ character.character_id}}</a></td>
                <td><a href="{% url 'visual_novel_detail' character.character_id.vn_id.pk %}" class="btn btn-outline-secondary">{{ character.character_id.vn_id.title }}</a></td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="2">No characters found.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
{% endblock %}
  
  
  
  
  
  
  