{% extends 'visualnovels/base.html' %}

{% block header %}
    {% include 'visualnovels/header.html' %}
{% endblock %}



{% block title %}Voice Actors{% endblock %}
{% block content %}
<div class="container p-4" style="background-color: #333">
    <h1 class="mb-3 text-light">Voice Actors List</h1>
    <table class="table table-hover table-striped" style="background-color: #fff; color: #333;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Characters Voiced</th>
        </tr>
      </thead>
      <tbody>
        {% for actor in voice_actors_list %}
        <tr onclick="window.location='{% url 'voice_actor_detail' actor.va_id %}'" style="cursor: pointer;">
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ actor }}</td>
          <td>{{ actor.age }}</td>
          <td>{{ actor.get_characters|length }}</td>
        </tr>
          </a>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}